/*
Main Colour Pallete
#EF6461-Menu Border Colour
#E4B363-High Contrast Body Colour
#E8E9EB-Body Border Colour
#E0DFD5-Menu Background Colour
#313638-Text Colour
*/

.game_menu
{
    border: 2px solid #EF6461;
    width: 300px;
    text-align: center;
    cursor: pointer;
    margin:auto;
    color: #313638;
    user-select: none;
}
.minesweeper
{
    border: 2px solid #EF6461;
    width: 300px;
    text-align: center;
    cursor: pointer;
}
.casino
{
    border: 2px solid #EF6461;
    width: 300px;
    text-align: center;
    cursor: pointer;
}
.tetris
{
    border: 2px solid #EF6461;
    width: 300px;
    text-align: center;
    cursor: pointer;
}
.waifu_clicker
{
    border: 2px solid #EF6461;
    width: 300px;
    text-align: center;
    cursor: pointer;
}
.trivia
{
    border: 2px solid #EF6461;
    width: 300px;
    text-align: center;
    cursor: pointer;
}
body
{
    border: 4px solid #E0DFD5;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #E8E9EB;
    color: #313638;
    width: 600px;
    margin:auto;
}
html
{
    background-color: #E4B363;
}