h1{
    text-align: center;
}

#NameBox{
    text-align: center;
    
}

#MainPage{
    width: 200px;
    outline-style: solid;
}

#UpgradesPage{
    width: 200px;
    left: 100px;
    margin-top: 50px;
    outline-style: solid;
}

#waifu{
    user-select: none;
    position: absolute;
    top: 250px;
    right: 150px;
    width: 300px;
    height: 300px;
}

#waifu1{
    position: absolute;
    left: 150px;
    margin-top: 300px;
    width: 150px;
    height: 150px;
}

#waifu2{
    position: absolute;
    left: 150px;
    margin-top: 150px;
    width: 150px;
    height: 100px;
}

#money{
    font-size: 20px;
    width: 200px;
    left: 100px;
    text-align: center;
    outline-style: solid;
}

#background1{
    position: absolute;
    left: 10px;
    margin-top: 150px;
    width: 150px;
    height: 100px;
}

#waifuUpgrade1 {
    width: 300px;
    position: absolute;
    left: 0px;
    margin-top: 50px;
    outline-style: solid;
}

#waifuUpgrade2 {
    width: 300px;
    position: absolute;
    left: 0px;
    margin-top: 150px;
    outline-style: solid;
}

#waifuUpgrade3 {
    width: 300px;
    position: absolute;
    left: 0px;
    margin-top: 250px;
    outline-style: solid;
}

#powerUpgrade1{
    right: 0px;
    width: 300px;
    margin-top: 250px;
    outline-style: solid;
    position: absolute;
}

html{
    background-image: url("images/aadsfwwe.jpg");
    background-size: cover;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:fit-content;
}

#title{
    width: 100%;
}

.background1{
    background-image: url("images/anime-City.jpg");
    background-size: cover;
}

.waifu1{
    background-image: url("images/waifu (2).png");
    background-size: cover;
    background-position: center;
}

.waifu2{
    background-image: url("images/anime-girl-with-long-hair-52650-117629__1_-removebg-preview.png");
    background-size: cover;
    background-position: center;
}