html {
    height: 100%;
    width: 100%;
    background-color:azure;
}
.grid {
    height: fit-content;
    width: fit-content;
    background-color: ghostwhite;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.box {
    width: 30px;
    height: 30px;
    margin: 2px;
    display: flex;
    background-color: lightgrey;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}
.center {
    justify-content: center;
    align-items: center;
}
.button {
    margin: 3px;
    padding: 2px;
    border: 1px solid grey;
}
.button:hover {
    cursor: pointer;
    user-select: none;
}
.mine_style {
    font-weight: bold;
    background-color: red;
}
.zero_style {
    background-color: darkgrey;
}
.one_style {
    font-weight: bold;
    background-color: white;
}
.two_style {
    font-weight: bold;
    background-color: lightgreen;
}
.three_style {
    font-weight: bold;
    background-color: lightseagreen;
}
.four_style {
    font-weight: bold;
    background-color: lightskyblue;
}
.five_style {
    font-weight: bold;
    background-color: yellow;
}
.six_style {
    font-weight: bold;
    background-color: orange;
}
.seven_style {
    font-weight: bold;
    background-color: orangered;
}
.eight_style {
    font-weight: bold;
    background-color: rebeccapurple;
}
.label {
    font-weight: bold;
}
.noSelect {
    user-select: none;
}
#ReturnToRoster {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: black solid 1px;
    background-color: white;
    padding: 10px;
}
#BTN_Return {
    border: black solid 1px;
    padding: 3px;
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    color: black;
}