html {
    height: 100%;
    width: 100%;
    background-color:azure;
}
.grid {
    height: fit-content;
    width: fit-content;
    background-color: ghostwhite;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.box {
    background-image: url("./Assets/unclickedTile.jpg");
    background-size: cover;
    width: 30px;
    height: 30px;
    display: flex;
    background-color: lightgrey;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}
.center {
    justify-content: center;
    align-items: center;
}
.button {
    margin: 3px;
    padding: 2px;
    border: 1px solid grey;
}
.button:hover {
    cursor: pointer;
}
.menuButton {
    margin: 0px 3px;
}
.menuButton:hover {
    cursor: pointer;
}
.zero_style {
    color: darkgrey;
}
.one_style {
    color: blue;
}
.two_style {
    color: green;
}
.three_style {
    color: red;
}
.four_style {
    color: darkblue;
}
.five_style {
    color: darkred;
}
.six_style {
    color: teal;
}
.seven_style {
    color: black;
}
.eight_style {
    color: gray;
}
.zero_style, .one_style, .two_style, .three_style, .four_style, .five_style, .six_style, .seven_style, .eight_style, .mine_style{
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    background-image: url("");
    border: gray solid 1px;
    box-sizing: border-box;

}
.mine_style {
    background-image: url("./Assets/mine.svg");
}
.loserTile {
    background-color: red;
}
.flagged {
    background-image: url("./Assets/flaggedTile.jpg");
}
.label {
    font-weight: bold;
}
.noSelect {
    user-select: none;
}
.digitalDisplay {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 48px;
    color: red;
    width: 75px;
}
.digit {
    width: 25px;
    text-align: right;
}
#HUD {
    width:100%;
    display: flex;
    justify-content:space-between;
}
#ReturnToRoster {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: black solid 1px;
    background-color: white;
    padding: 10px;
}
#BTN_Return {
    border: black solid 1px;
    padding: 3px;
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    color: black;
}
#Settings {
    position: absolute;
    left: 10px;
}
.resetButton {
    height: 48px;
    width: 48px;
    background-image: url("./Assets/unclickedTile.jpg");
    background-size: cover;
}
.resetButtong:hover {
    cursor: pointer;
}